openapi: 3.0.0
info:
  version: 1.0.0
  title: Back End API
  description: An API for TLD application website.
  contact:
    name: Finlay Campbell
    email: campb167@coventry.ac.uk
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://earth-almanac-3030.codio-box.uk/'
    description: Development server

tags:
  - name: Users
    description: Users that use APi.
  - name: Applications
    description: Users can fill applications for trading license.

paths:
  /users:
    summary: Represents an individual user
    description: >
      This resource represents an individual user in the system.
      Each user is identified by a numeric `id`.
    post:
      tags:
        - Users
      description:
        Create a new user account.
      requestBody:
        description: All new user data.
        required: true
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/user
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userUpdated
    get:
      tags:
        - Users
      description:
        Get a list of all users.
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userList
        '401':
          description: Only admin users can list all accounts
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the user
    get:
      tags:
        - Users
      description:
        Get user by id.
      responses:
        '200':
          description: View of user record
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userIndividual
        '401':
          description: Non-admin users can only view their own record
        '404':
          description: Not found
    put:
      tags:
        - Users
      description:
        Update user by id.
      requestBody:
        description: Update a visible property or the password.
        required: true
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/userUpdate
      responses:
        '200':
          description: Confirmation and link to record.
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userUpdated
        '404':
          description: Not found
    delete:
      tags:
        - Users
      description:
        Delete user by id.
      responses:
        '200':
          description: Confirmation of deletion.
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userDeleted
        '401':
          description: Only admin users can delete accounts
        '404':
          description: Not found
  /applications:
    summary: Represents an individual application
    description: >
      This resource represents an individual user in the system.
      Each user is identified by a numeric `id`.
    post:
      tags:
        - Applications
      description:
        Create a new application.
      requestBody:
        description: All new application data.
        required: true
        content:
          application/json:
            schema:
              $ref: ./application.json#/definitions/application
      responses:
        '201':
          description: Application created
          content:
            application/json:
              schema:
                $ref: ./application.json#/definitions/applicationUpdated
    get:
      tags:
        - Applications
      description:
        Get a list of all applications.
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: ./application.json#/definitions/applicationList
        '401':
          description: Only admin users can list all applications
  /applications/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the application
    get:
      tags:
        - Applications
      description:
        Get user by id.
      responses:
        '200':
          description: View of application record
          content:
            application/json:
              schema:
                $ref: ./application.json#/definitions/applicationIndividual
        '401':
          description: Non-admin users can only view their own application
        '404':
          description: Not found
    put:
      tags:
        - Applications
      description:
        Update application by id.
      requestBody:
        description: Update a application
        required: true
        content:
          application/json:
            schema:
              $ref: ./application.json#/definitions/applicationUpdate
      responses:
        '200':
          description: Confirmation and link to record.
          content:
            application/json:
              schema:
                $ref: ./application.json#/definitions/applicationUpdated
        '404':
          description: Not found
    delete:
      tags:
        - Application
      description:
        Delete application by id.
      responses:
        '200':
          description: Confirmation of deletion.
          content:
            application/json:
              schema:
                $ref: ./application.json#/definitions/applicationDeleted
        '401':
          description: Only admin users can delete applications
        '404':
          description: Not found			